Repository hartwork/image-bootstrap, pull requests merged in 2025-02, with the labels that each got.

#548 Debian: Drop support for releases `stretch` and `buster`
  .github/workflows/image-bootstrap-debian.yml
  README.md
  directory_bootstrap/shared/messenger.py
  image_bootstrap/distros/debian.py
Labels: enhancement, Debian

#549 Debian|Ubuntu: Fix networking
  image_bootstrap/distros/base.py
  image_bootstrap/distros/debian_based.py
  image_bootstrap/distros/gentoo.py
Labels: bug, Debian, Ubuntu

#547 Debian|Ubuntu: Sync `/etc/network/interfaces` with Debian bookworm
  image_bootstrap/distros/debian_based.py
Labels: enhancement, Debian, Ubuntu
